<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="logOut()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> Bill Tracker </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  The world is your oyster.
  <p class="">
    If you get lost, the
    <a target="_blank" rel="noopener" href="https://ionicframework.com/docs"
      >docs</a
    >
    will be your guide.
  </p>
</ion-content>
